<%- include('partials/header') -%>

<main>
    <!-- edit to make sm full width and md and up inline flex -->
    <section class="flex flex-wrap">
            <a href="/login" class="flex-auto inline-block bg-ship-cove-500 mt-3 hover:bg-ship-cove-400 text-white mx-3 py-1 px-3 rounded">Log In</a>
            <a href="/register" class="flex-auto inline-block bg-ship-cove-500 mt-3 hover:bg-ship-cove-400 text-white mx-3 py-1 px-3 rounded">Register</a>
    </section>
</main>

<%- include ('partials/footer') -%>